{% extends "base.html" %} {% block titulo %} Esta es la página de inicio {% endblock %} {% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Eliminar Usuario</h1>
        <h1>{{msj}}</h1>
        <div class="card">
            <div class="card-body">
                <form action="eliminaU" method="post"> {% csrf_token %}
                    <div class="form-group py-2">
                        Ingrese Perfil
                        <input type="text" name="perfil" class="form-control" placeholder="Ingrese perfil por ej:  123"
                        maxlength="30" required>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success btn-block">Eliminar</button>
                        <button type="button" class="btn btn-danger btn-block" onclick="document.location.href='inicio'">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}