{% extends "base.html" %} {% block titulo %} Lista de usuarios {% endblock %} {% block body %}

<table>
    <thead>
        <tr>
            <th>
                | Username |
            </th>
            <th>
                | Password |
            </th>
            <th>
                | Email    |
            </th>
            <th>
                | Nombre    |
            </th>
            <th>
                | Perfil    |
            </th>
           
        </tr>
    </thead>
    <tbody>
        {% for usu in usuarios %}
        <tr>
            <td>{{usu.username}}</td>
            <td>**************</td>
            <td>|{{usu.email}}</td>
            <td>|{{usu.nombre}}</td>
            <td>|{{usu.perfil}}</td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}